<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56527788971-58648u3iaqmclvvq2uja5b8uecs8f9i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56527788971-58648u3iaqmclvvq2uja5b8uecs8f9i7</string>
	<key>API_KEY</key>
	<string>AIzaSyDRI0YUoZVDCnadoLYK40-wpzl3a4KrOKU</string>
	<key>GCM_SENDER_ID</key>
	<string>56527788971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifma.br.consultaAi</string>
	<key>PROJECT_ID</key>
	<string>consulta-ai-de658</string>
	<key>STORAGE_BUCKET</key>
	<string>consulta-ai-de658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56527788971:ios:5b5419b87020158d3f50ee</string>
</dict>
</plist>